.carouselWrapper {
  overflow-x: scroll;
  scroll-snap-type: "x mandatory";
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselImage {
  width: 80%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
